<!DOCTYPE html>
<html>
  <head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {{company_name}} Careers
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body> 
    <div class="container">
      <h1 class = "text-center">Jovian Careers</h1>
      <img class="img-fluid" src="static/P1110329.JPG" height="320">
      <h2>About Jovian</h2>
      <p>Jovian is a company that specializes in AI for education.</p>
      <h2 >Open Positions</h2>
      <p>
        {% for job in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </p>
      <p>TODO - show the jobs here</p>
      <button>Apply</button>
    </div>
  </body>
</html>